body {
	background-color: #888888;
  font-family: 'Roboto Slab', serif;
}

button {
  font-family: 'Roboto Slab', serif;
  background-color: #C41E3A;
  color: #000;
}

span {
  position: absolute;
}

#url__text{
margin: 10px 0 0 0;
}

.main__block {
  max-width: 0 16px 10px 0;
/*	margin-left: 10px;*/
	display: grid;
}

.url__block,
#url {
	margin-right: 15px;
	width: 70%;
	height: 25px;
}

.url__block,
#btn {
	width: 20%;
	height: 31px;
}

.center {

}

input[type="checkbox"] {
  width: 30px;
  height: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #888888;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0,0,0, .2);
  transition: 0.5s;
  position: relative;
}
input:checked[type="checkbox"] {
  background: #C41E3A;
}
input[type="checkbox"]::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0,0,0, .2);
  transition: 0.5s;
}
input:checked[type="checkbox"]::before {
  left: 15px;
}